/* rmc.css */
body {
    font-family: Arial, sans-serif;
    background: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 55px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 800px;
    text-align: center;
}

h1 {
    background-color: #2f3786;
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 24px;
}

label {
    display: table-row;
    margin: 10px 0 5px;
    color: #0a0a0a;
}

input[type="text"], select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.button-group button {
    background-color: #74ebd5;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
    font-weight: bold;
}

.button-group button:hover {
    background-color: #9face6;
}

button[type="submit"] {
    background-color: #74ebd5;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #9face6;
}

.text-area{
    width: 700px;
    height:100px;
    margin-left: 1px;
    border-radius: 6px
}
