{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Summarize Passage</title>
    <link rel="stylesheet" href="{% static 'css/wspa.css' %}">
</head>
<body>
    <div class="container">
        <h1 class="center">Add Summarize Passage</h1>

        <div class="button-container">
            <a href="{% url 'admin_dashboard' %}" class="button">Admin Dashboard</a>
            <a href="{% url 'w_summarize_passage_show' %}" class="button">Show Summarize Passage</a>
            <a href="{% url 'admin_logout' %}" class="button">Logout</a>
        </div>

        <form method="POST" action="">
            {% csrf_token %}
            <div class="form-group">
                <label for="passage">Passage</label>
                <textarea id="passage" name="passage" placeholder="Add the passage" required></textarea>
            </div>
            <div class="form-group">
                <label for="keywords">Keywords</label>
                <textarea id="keywords" name="keywords" placeholder="e.g., purchase, money, merchant, ..." required></textarea>
            </div>
            <center><button type="submit" class="save-button">Save</button></center>
        </form>
    </div>
</body>
</html>
