{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grammar & Spelling Checker</title>
    <link rel="stylesheet" href="{% static 'css/grammar_checker.css' %}">
    <style>
        {{ styles|safe }}
    </style>
</head>
<body>
     <a href="{% url 'aspirant_dashboard' aspirant_id %}" class="btn btn-primary custom-btn">
    <i class="fas fa-arrow-left me-1"></i> Aspirant Dashboard
</a>

    <div id="grammar-checker-mount-point"></div>
     <script src="{% static 'js/grammar_checker.js' %}"></script>
</body>
</html>
